@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';
// @import '../../node_modules/bulma/sass/components/_all.sass';
@import '../../node_modules/bulma/sass/elements/_all.sass';
// @import '../../node_modules/bulma/sass/form/_all.sass';
// @import '../../node_modules/bulma/sass/grid/_all.sass';
// @import '../../node_modules/bulma/sass/layout/_all.sass';
@import '../../node_modules/bulma/sass/utilities/_all.sass';
// @import '../../node_modules/bulma/css/bulma.css';
// @import '../../node_modules/bulma/css/bulma.css.map';
// @import '../../node_modules/bulma/css/bulma.min.css';
$fondoBarra:#4D4A4A;
$textoBlanco:#E1E1E1;
///////////////////////////////    Barra navegacion
#principal {
    height: 3.5rem;
    color: $textoBlanco;
    display: flex;
    background-color: $fondoBarra;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    font-size: 1.5rem;
}

html {
    background: $grey-lighter;
}

// body {
//     background: red;
// }
/////////////////////////////////////  Barra menu
#menuAdmin ul {
    display: flex;
    margin: 10px;
}

#menuAdmin li {
    padding-left: 20px;
    list-style: none;
}

#menuAdmin li a {
    color: black;
    text-decoration: none;
}

#menuAdmin li a:hover {
    // background: $fondoBarra;
    box-shadow: black 2px 4px 10px;
}

#menuAdmin {
    // padding: 15px;
    display: flex;
    // padding-left: 20px;
    font-size: .9rem;
}

// .txtTitulo {
//     margin-top: 0px;
//     margin: 10px;
//     font-size: 2.4rem;
//     position: absolute;
// }
///////////////////////////     Elementos de Componentes compartidos
.txtTitulo {
    color: $fondoBarra;
    font-size: 2.4rem;
    margin-left: 50px;
    position: absolute;
    top: 110px;
}

.marco {
    border-radius: 4px;
    border: solid;
    background: hsl(0, 0%, 94%);
}

.marco1 {
    // height: 11rem;
    width: 65vw;
    // margin-left: 10rem;
    margin: auto;
    margin-top: 8rem;
    padding: 25px;
}

.marco2 {
    // height: 37rem;
    width: 65vw;
    margin: auto;
    padding: 25px;
}

.fondoTitulo {
    position: absolute;
    width: 185px;
    height: 36px;
    left: -34px;
    top: 127px;
    background: #C6FFCB;
    filter: blur(9px);
}

hr.txtTitulo {
    height: .2rem;
    background: #4D4A4A;
    margin: 0%;
    width: 290px;
    top: 11rem;
}

.txtSubTitulo {
    margin-left: 30vw;
    position: absolute;
    background: #a7ff8a;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    border: solid;
    border-radius: 5px;
}

.subCliente {
    top: 14rem;
}

.btnAceptar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    width: 65vw;
    margin: auto;
}

.footer {
    background: $fondoBarra;
    padding: 10px;
}

.btnCien {
    width: 100%;
    // margin-left: 160px;
    margin: auto;
}

//////////////////////////////   ELEMENTOS EXTRAS
hr {
    height: 2.5px;
    background: $fondoBarra;
    margin: 0%;
}